<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Demo_Android"
        android:theme="@style/android:Theme.Material.Light.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name="com.example.compose_custom_bottom_sheet_scaffold.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
